* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #808080;
}

hmtl, body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  position: relative;
  display: inline-flex  ;
  width: 180px;
  height: 55px;
}
 
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}

span a:before, span a:after {
  position: absolute;
  content: 'Button';
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before {
  color: white;
  background-color: black;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: black;
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}